div.newsletter { position: relative;}
.grupoemail{
    margin: 3px;
    display: block;
    outline: solid 0px red;
    float:right;
    width: 200px;
    text-align: left;
    padding: 0px;
}
.select-dados.at { display: block; width: 100%; min-height: 50px; }
div.dialog {
    font: 12px 'myriad';
    color: #FFF;
    background-color: #b31216;
    position: absolute;
    margin: 0 auto;
    width: 180px;
    height: auto;
    padding: 10px;
    text-align: center;
    left: 40%;
    top: 36%;
    z-index: 500;
    display: none;
    border-radius: 3px;
    box-shadow: 0px 0px 7px #333333;
}